<div class="main">
  <div class="section text-center" >
    <div class="row justify-content-start" style="cursor: pointer;">
      <div class="col m-4 pt-3">
      </div>
  </div>
  <div class="row justify-content-start" style="cursor: pointer;">
    <div class="col m-4 pt-3">
    </div>
</div>

  <div class="container">
      <div class="row">
          <div class="col-md-8 mr-auto ml-auto">
              <h2 class="title col">Contact us</h2>
              <h5 class="description b2">
                <i class="nc-icon nc-chat-33" style="font-size: 20px;"  rel="tooltip"></i>
                <br>
                  Please reach out to us at <b>global@altruist.org.com</b>  for any queries.
                  If instead you want to find us at a place closest to your home,please reach out to <b>community@altruist.org.com</b>
              </h5>
              <br><br><br><br><br><br>
              
              <h6>If you believe in our cause and want to donate to it,please fill the donation form</h6>

              <a class="btn btn-danger btn-round" [routerLink]="['/donate']"><span style="color:white">Donate now</span></a>
          </div>
      </div>
      <br/><br/>
  </div>
</div>
</div>

