<div class="main">
  <div class="section text-center" >
  <div class="container">
    <div class="pt-3">
    <form [formGroup]="formGroup">

        <mat-form-field appearance="outline" class="col-md-6 pl-2">
          <mat-label>Full name</mat-label>
          <input matInput placeholder="Full name"
            formControlName="name" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-6">
          <mat-label>Mobile number</mat-label>
          <input matInput placeholder="Mobile number" formControlName="mobile" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-6 pl-2">
          <mat-label>Email address</mat-label>
          <input matInput placeholder="Email" formControlName="email" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-6">
          <mat-label>Donation amount</mat-label>
          <input matInput placeholder="Donation amount" formControlName="amount" required>
        </mat-form-field>

        <button class="submit-btn effect01 mt-5" (click)="submit()"><span>Submit</span></button>
      </form>
    </div>
  </div>
</div>
</div>

