<div class="main">
    <div class="section text-center" >
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title text-danger">About us</h2>
                <h5 class="description b">
                    We as an organization strongly believe in the cause effect fundamentals of community and an individual.
                    Trust and altruism are the basic pillars on which humanity as a race builds on. In these difficult times of COVID,
                    we ensure that the unemployed are catered to for their livelihood. We strongly rely and believe in the future of our race ensure 
                    that we are on the right track by providing healthcare to individuals and online education to people concerning various fields.
                    We hope you believe and share our aim and get along with us on our journey.
                </h5>
                <br>
                <a class="btn btn-danger btn-round"><span style="color:white">See Details</span></a>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-info">
                        <i class="nc-icon nc-bulb-63"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title pb-2">Community work</h4>
                        <p class="b2">We believe in strong collective fundamentals and enforce responsibilities among all facets like education,healthcare</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-info">
                        <i class="nc-icon nc-spaceship"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title pb-2">Our mission</h4>
                        <p class="b2">Help people discover content that they can trust to be interesting,relevant and timely for them</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-info">
                        <i class="nc-icon nc-sun-fog-29"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title pb-2">Vision</h4>
                        <p class="b2">We have a vision of being a global facilitator of altruism with a mindset of bringing radical change in our community 
                            and be better prepared in the future for any major outbreak of any disease.

                        </p>
                    </div>
                </div>
            </div>
        </div>
  
    </div>
  </div>
  </div>

  