.b {
  font-weight: 600;
}

.b2 {
  font-weight: 550;
}

.section {
  background-image: url('assets/img/bg4.svg');
  }
.col {
  color: #d9534f;
}
.title {
  font-weight: bolder;
}
.description {
  color: #f5f5f5;
}
