<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
            <nav class="footer-nav">
                <ul>
                    <li>
                    <a href="https://techfest.org/competitions/sitedeveloper" target="_blank">                
                        <i class="nc-icon nc-compass-05"></i>
                        MVP for site developer competition</a>
                    </li>
                    
                </ul>
            </nav>
            </div>
            <div class="col-md-4">
                <nav class="footer-nav">
                    <ul>
                        <li>
                            <img src="assets/img/tf.png" height="60">
                        </li>
                        
                    </ul>
                </nav>
                
            </div>
            <div class="col-md-3">
            <nav class="footer-nav">
                <ul>
                    <li>
                        <span class="copyright bold">
                        <b>© 
                            Team ID SD-207436</b> 
                        </span>
                    </li>
                    
                </ul>
            </nav>
            </div>
            <!-- <div class="credits ml-auto">
                <span class="copyright bold">
                    <b>© <a href="https://www.linkedin.com/in/saptarshi-majumder-62251369/?trk=people-guest_people_search-card" target="_blank">Saptarshi Majumder for </a> </b> <img src="assets/img/tf.JPG" width="80" height="40">
                </span>
            </div> -->
        </div>
    </div>
</footer>
